services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "10.10.0.3:80:80"
      - "10.10.0.3:8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock