networks:
  web:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "10.10.0.3"
    name: traefik-web
  dmz:
    external: true
      

services:
  traefik:
    image: traefik:v3.6
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      # - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - web
      - dmz
