
[entrypoints]
    [entrypoints.web]
    address = ":80"
    [entrypoints.web.http.redirections.entryPoint]
    to = "websecure"
    scheme = "https"
    [entryPoints.websecure]
    address = ":443"
    asDefault = true
        [entryPoints.websecure.http.tls]
        certResolver = "letsencrypt"
            [entryPoints.websecure.http.tls.domains]
            main = "tebb.me"
            sans = ["traefik.tebb.me"]
    [entrypoints.dashboard]
    address = ":8080"

# Dynamic Configuration
# [http.routers.my-api]
#   rule = "Host(`traefik.tebb.me`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
#   service = "api@internal"

[api]
dashboard = true
# insecure = true

[providers.docker]
exposedByDefault = false
network = "dmz"

[serversTransport]
insecureSkipVerify = true

[log]
level = "DEBUG"
filePath = "/var/log/traefik/traefik.log"
format = "common"

[accessLog]
filePath = "/var/log/traefik/access.log"
format = "common"

[certificatesResolvers.letsencrypt.acme]
email = "rich@tebb.io"
storage = "acme.json"
    [certificatesResolvers.letsencrypt.acme.dnsChallenge]
    # DNS provider used.
    # Required
    provider = "route53"
    [certificatesResolvers.letsencrypt.acme.dnsChallenge.propagation]
    # By default, the provider will verify the TXT DNS challenge record before letting ACME verify.
    # If delayBeforeCheck is greater than zero, this check is delayed for the configured duration in seconds.
    # Useful if internal networks block external DNS queries.  
    delayBeforeCheck = 0
